@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá! :)</h1>    
    <h4 >Seja bem vindo ao app de teste da Volvo.</h4>

    <p>
        Link do projeto:
        <a href="https://github.com/prandini/TestVolvo.Net" target="_blank">GitHub</a>
    </p>
</div>
